
  .body {
    align-items: center;
    background-color:#E4E2E1;
    display: flex;
    background: url(../images/addItemPageBgImage.jpg);
    justify-content: center;
  }
  .form {
    background-color: #bbbab9;
    border-radius: 20px;
    box-sizing: border-box;
    height: 800px;
    padding: 20px;
    width: 320px;
    margin-top: 70px;
    margin-bottom: 70px;
   
  }
  
  .title {
    color: rgb(6, 6, 6);
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
  }
  
  .subtitle {
    color: rgb(6, 6, 6);
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
  }
  
  .input-container {
    height: 50px;
    position: relative;
    width: 100%;
  }
  
  .ic1 {
    margin-top: 40px;
  }
  
  .ic2 {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .cat {
    margin-top:5px;
  }
  
  .input {
    background-color: #a4a5ac;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: white;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
  }
  .categories {
    background-color: #a4a5ac;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: white;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
  }
  .cut {
    background-color: #bbbab9;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 90px;
  }
  
  .cut-short {
    width: 115px;
  }
  .cut-long {
    width: 90px;
  }
  .desc {
    height: 200px;
  }
  .text-a{
    margin-bottom: 110px;
  }
  
  .input:focus ~ .cut,
  .input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
  }

  
  .placeholder {
    color: rgb(44, 43, 43);
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
  }
  
  .input:focus ~ .placeholder,
  .input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
  }
  
  .input:not(:placeholder-shown) ~ .placeholder {
    color: rgb(22, 22, 22);
  }
  
  .input:focus ~ .placeholder {
    color: black;
  }
  
  
  .submit {
    background-color:black;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 50px;
    outline: 0;
    text-align: center;
    width: 50%;
  }
  
  .submit:active {
    background-color: rgb(44, 43, 43);
  }
  .cut-file{
    width: 135px;
  }

  .file {
    margin-top: 180px;
    height: 30px;
    position: relative;
    width: 100%;
  }
  .xlc{
    color: rgb(67, 66, 66);
    font-size: small;
    background-color: #a4a5ac;
    border-radius: 39px;
    width: 100px;
    height: 20px;
    align-items: center;
    padding: 5px;
    font-weight: 500;
  }
  .xlc-image{
    height: 15px;
    width: 80px;
    margin-bottom: 5px;
  }