@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");
/* Styling for footer section of Landing Page */
body {
    margin: 0;
}

  /* Styling for main header div */
header {
    border-bottom: 0.2px solid rgb(228, 223, 223);
    background: white;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

  /* X-lease Logo styling */
header .logo {
    display: inline;
    content: url(../images/logo.png);
    background-size: contain;
    height: 40px;
    width: 180px;
    margin-left: 15px;
}


/* Search bar styling */
header .search {
    background-color: #E4E2E1;
    display: flex;
    text-align: left;
    align-items: center;
    border-radius: 50px;
    height: 50px;
    width: 40%;
    margin-left: 5px;
    margin-top: auto;
    margin-bottom: auto;
}

/* Styling for search button in search bar */
header .search-button {
    background-color: black;
    border: none;
    border-radius: 50px;
    margin-left: 10px;
    height: 30px;
    color: white;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    display: flex;
    padding: 10px;
}

/* Styling for magnifying glass in search button */
header .search-logo {
    display: inline-block;
    background: url(../images/icons8-search.svg) no-repeat;
    background-size: contain;
    height: 20px;
    width: 20px;
    margin-right: 5px;
}

/* Styling for link section of header */
header .links {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;
    align-items: center;
}
  
/* Styling for "Lease your device" button */
header .lease-button {
    border: none;
    height: 40px;
    background-color: #E4E2E1;
    border-radius: 50px;
    text-decoration: none;
    margin-right: 10px;
    text-align: center;
    padding: 10px;
    color: black;
    /*    font-weight: bold; */
    opacity: 90%;
    font-family: 'Roboto', sans-serif;
}

/* Styling for header profile button */
header .profile {
    background: url(../images/icons8-account-16.png) no-repeat;
    background-size: cover;
    height: 25px;
    width: 25px;
    border: none;
    padding: 15px;
}

/* Styling for search input feild */
.search input {
    width: 100%;
    height: 48px;
    border: none;
    background-color: #E4E2E1;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 0px 15px;
}

/* Styling for input field  of search bar */
.search input:focus {
    outline: none; /* Deleted focus outline of input field */
}
